## Setup

In [1]:
# import modules
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
# matplotlib dependencies
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [3]:
# sqlalchemy dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

## Reflect Tables into SQLAlchemy ORM

In [4]:
# create engine to database
engine  = create_engine("sqlite:///../Resources/hawaii.sqlite")

# declare a base
Base = automap_base()

# use base class to reflect the database tables
Base.prepare(autoload_with=engine)

In [5]:
# view the classes mapped to the base
Base.classes.keys()

['measurement', 'station']

In [6]:
# assign each class to their own variable
Measurement = Base.classes.measurement
Station = Base.classes.station

In [7]:
# create a session from python to database
session = Session(engine)

## Precipitation Analysis

In [8]:
# find the most recent data in the dataset
recent_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()[0]
recent_date = dt.datetime.strptime(recent_date, '%Y-%m-%d').date()

# get the date from 12 months prior
year_ago_date = recent_date - dt.timedelta(days=365)

# display dates
print(f"Recent date: {recent_date}")
print(f"Year prior date: {year_ago_date}")

Recent date: 2017-08-23
Year prior date: 2016-08-23

In [9]:
# perform query to get the previous 12 months of precipitation data (date and precipitation scores)
prcp_data_year_ago = (session.query(Measurement.date, Measurement.prcp)
                      .filter(Measurement.date >= year_ago_date)
                      .all())

# save the query results as a pandas dataframe sorted by date
prcp_data_df = pd.DataFrame(prcp_data_year_ago, columns=['Date', 'Inches']).sort_values(by='Date').reset_index(drop=True)

# display the df
prcp_data_df

            Date  Inches
0     2016-08-23    0.00
1     2016-08-23     NaN
2     2016-08-23    1.79
3     2016-08-23    0.05
4     2016-08-23    0.15
...          ...     ...
2225  2017-08-22    0.00
2226  2017-08-23    0.00
2227  2017-08-23    0.00
2228  2017-08-23    0.08
2229  2017-08-23    0.45

[2230 rows x 2 columns]